/* variables */
@black: #080808;
@d_max: 1440px;
@t_max: 1023px;
@m_max: 768px;
@green: #A8BBA2;
@ivory: #F8F5F2;
@rust: #B74C2F;
@darkrust: #562a02;
@mustard: #D9982B;
@blue: #2C3E50;
@rose: #C48C8C;

/* mixins */
.center-absolute {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.keep-aspect(@w,@h) {
	display:block;
	position:relative;
	width:100%;
	padding-bottom: percentage(@h/@w);
}

/* styles */
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    box-sizing: border-box;
    color: @black;
}

main {
    display: block;
}

b,
strong {
    font-weight: bolder;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

textarea {
    overflow: auto;
}

h1 {
    font-family: 'Cinzel Decorative', Times, serif;
}

.main {
    padding-bottom: 100px;
    margin: 60px auto 0;
    .featured_img {
        max-width: 1440px;
        display: block;
        margin: 0 auto;
        position: relative;
        width:100%;
        padding-bottom: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .welcome_header {
        position: absolute;
        height: 50vh;
        width: 100%;
        top: 0;
        @media screen and (max-width: @m_max) {
            height: 20vh;
        }
        .info_right {
            position: absolute;
            width: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-25%, -15%);
            animation: slide_from_left_header 10s;
            h1 {
                color: white;
                font-size: 10vw;
                font-weight: 500;
                line-height: 1.2;
                margin-bottom: 0;
            }
            h2 {
                color: white;
                font-family: 'Pinyon Script', Helvetica, sans-serif;
                font-size: 7vw;
                letter-spacing: 3px;
                margin-top: 0;
                font-weight: 400;
            }
            a {
                color: white;
                font-family: 'Cinzel Decorative', Times, serif;
                font-size: 20px;
                text-decoration: none;
            }
        }
    }
    #metaslider-id-184 {
        max-width: 400px;
        margin: 20px auto !important;
    }
}
// NAV
header {
    width: 100%;
    position:fixed;
    top: 0;
    background-color: @ivory;
    z-index: 1;
    max-height: 100px;
    filter: drop-shadow(2px 0px 6px rgba(0,0,0,0.5));
    .header_container {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .logo {
        padding: 10px;
        img {
            object-fit: contain;
            width: 100%;
            height: auto;
            display: block;
            object-position: center;
            max-width: 70px;
        }
    }
    nav {
        display: none;
        flex-direction: row;
        justify-content: center;
        &.mobile {
            @media screen and (max-width: @m_max) {
                display: flex;
            }
        }
        &.desktop {
            @media screen and (min-width: @m_max) {
                display: flex;
            }
        }
        a {
            color: @blue;
            font-weight: 600;
            text-decoration: none;
            padding: 7% 20px 0 0;
            font-family: 'Cinzel Decorative', Times, serif;
        }
    }
    #hamburger {
        height: 50px;
        width: 50px;
        background: @ivory;
        position: absolute;
        top: 20px;
        right: 20px;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 4px rgba(0,0,0,0);
        transition: all .2s ease;
        z-index: 9999;
        display: none;
        @media screen and (max-width: @m_max) {
            display: block;
        }
        &:hover {
          background: lighten(@ivory, 10%);
          box-shadow: 0 0 4px rgba(0,0,0,0.1);
          transform: scale(1.1);
          transition: all .2s ease;
        }
        
        span {
          display: block;
          position: absolute;
          height: 2px;
          width: 28px;
          left: 50%;
          transform: translateX(-50%);
          background: @blue;
          border-radius: 10px;
          transition: all .15s ease;
          
          &:first-child {
            top: 17px;
          }
          
          &:nth-child(2) {
            top: 25px;
          }
          
          &:last-child {
            top: 33px;
          }
        }
        
        &.close {
          top: 10px;
          right: 10px;
          box-shadow: 0 0 8px rgba(0,0,0,0.15);
          
          span {
            &:first-child {
              top: 15px;
              transform: translate(-14px, 10px) rotate(135deg);
            }
            &:nth-child(2) {
              left: -20px;
              opacity: 0;
            }
            &:last-child {
              top: 15px;
              transform: translate(-14px, 10px) rotate(-135deg);
            }
          }
        }  
      }
      nav.mobile {
        height: 100vh;
        right: 0;
        background: @ivory;
        color: @blue;
        width: 200px;
        box-shadow: 0 1px 20px rgba(0,0,0,0.25);
        position: relative;
        z-index: 1;  
        transform: translateX(200px);
        opacity: 0;
        transition: all .2s ease-in-out;
        display: none;
        ul {
          list-style: none;
          padding: 0;
          
          li {
            width: 100%;
            transition: all .15s ease;
            
            a {
              display: block;
              padding: 10px;
              width: 100%;
              height: auto;
            }
            
            &:hover {
              transition: all .15s ease;
            }
          }
        }  
        
        &.visible {
          transform: translateX(0);
          opacity: 1;
          display: block;
        }
        
      }

}

//Footer 
footer {
    background-color: @ivory;
    text-align: center;
    padding: 10px 0;
    left: 0;
    bottom: 0;
    width: 100%;
    p {
        font-family: 'Mona Sans', Helvetica, sans-serif;
        color: @blue;
    }
    .footer_logo {
        max-width: 50px;
        width: 100%;
        height: auto; 
    }
}

//Donate Page
.page_donate {
    .main {
        margin: 100px auto 0;
        .featured_img {
            display: none;
        }
    }
}

// In the area page
.page_in_the_area, .page_our_story, .page_stays, .page_details {
    .main {
        max-width: 1440px;
        margin: 60px auto 0;
        .page_our_story& {
            @media screen and (max-width: @m_max) {
                margin: 120px auto 0;
            }
        }
        .page_stays& {
            @media screen and (max-width: @m_max) {
                margin: 40px auto 0;
            }
        }
        .page_details& {
            @media screen and (max-width: @m_max) {
                margin: 60px auto 0;
            }
        }
        .featured_img {
            padding-bottom: calc(400 / 1000 * 100%);
            background-size: cover;
            max-width: 1000px;
            @media screen and (max-width: @m_max) {
                padding-bottom: calc(500 / 1000 * 100%);
            }
        }
        .page_our_story& {
            .featured_img {
                padding-bottom: calc(200 / 1000 * 100%);
                background-size: contain;
                max-width: 1000px;
                @media screen and (max-width: @m_max) {
                    padding-bottom: calc(300 / 1000 * 100%);
                }
            }
        }
        .content {
            padding: 0 5%;
            max-width: 1000px;
            margin: 0 auto;
            h1 {
                text-align: center;
                color: @rust;
                font-size: 8vh;
                margin-bottom: 0;
                @media screen and (min-width: @t_max) {
                    font-size: 60px;
                }
                @media screen and (max-width: @m_max) {
                    font-size: 30px;
                }
            }
            h2, p, ul, li, a {
                font-family: 'Mona Sans', Helvetica, sans-serif;
            }
            h2 {
                color: @blue;
            }
            h2, p {
                text-align: center;
            }
            iframe {
                width: 100%;
            }
            .to_do_container {
                background-color: @blue;
                border-radius: 8px;
                padding: 5%;
                color: @ivory;
                filter: drop-shadow(2px, 4px, 6px, rgba(0,0,0,0.5));
                h2, ul li a {
                    color: @ivory;
                }
                a {
                    .page_stays& {
                        text-decoration: none;
                        font-weight: 700;
                        color: @ivory;
                    }
                }
                ul li {
                    margin-bottom: 10px;
                }
                ul li a {
                    font-weight: 700;
                    font-size: 18px;
                    text-decoration: none;
                }
                ul li span {
                    font-weight: 400;
                }
            }
        }
    }
}

// Home Page
.page_hoppily_ever_after {
    background-color: @green;
    .main {
        max-width: 1440px;
        margin: 60px auto 0;
        position: relative;
        padding: 0 10px;
        @media screen and (max-width: 780px) {
            margin: 90px auto 0;
        }
        .featured_img {
            padding-bottom: calc(400 / 1000 * 100%);
            background-size: contain;
            max-width: 500px;
            @media screen and (max-width: @m_max) {
                padding-bottom: calc(500 / 1000 * 100%);
            }
        }
        .detailed_copy {
            p, a {
                font-family: 'Mona Sans', Helvetica, sans-serif;
                text-align: center;
                line-height: 1.5;
                padding: 15px;
                display: block;
                margin: 0 auto;
                color: white;
                font-size: 30px;
                font-weight: 600;
                letter-spacing: 0.8px;
                @media screen and (max-width: @m_max) {
                    font-size: 22px;
                    padding: 0;
                }
            }
            a {
                text-decoration: none;
            }
            h1 {
                font-size: 10vh;
                filter: drop-shadow(2px 4px 6px grey);
                @media screen and (min-width: @t_max) {
                    font-size: 70px;
                }
                @media screen and (max-width: @m_max) {
                    font-size: 40px;
                }
            }
            h1, h2 {
                color: white;
                text-align: center;
                font-family: 'Cinzel Decorative', Times, serif;
                margin: 0 auto;
                span, span a {
                    font-size: 5vh;
                    display: block;
                    color: @blue;
                    text-decoration: none;
                    filter: none;
                    @media screen and (min-width: @t_max) {
                        font-size: 40px;
                    }
                    @media screen and (max-width: @m_max) {
                        font-size: 20px;
                    }
                }
                span a {
                    font-family: 'Cinzel Decorative', Times, serif;
                    margin-top: 20px;
                }
            }
        }
        .to_do_container {
            background-color: @blue;
            border-radius: 8px;
            padding: 5%;
            margin-top: 30px;
            filter: drop-shadow(2px, 4px, 6px, rgba(0,0,0,0.5));
            h2, ul li a {
                color: @ivory;
            }
            ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                list-style-type: none;
            }
            ul li {
                margin-bottom: 10px;
                margin-right: 20px;
                color: @ivory;
            }
            ul li a {
                font-weight: 700;
                font-size: 18px;
                text-decoration: none;
                font-family: 'Cinzel Decorative', Times, serif;
                margin-right: 10px;
            }
        }
    }
}

// RSVP Page
.page_rsvp {
    .main {
        padding: 5%;
        background-image: url('/wp-content/uploads/2025/05/AdobeStock_533865523-scaled.jpeg');
        background-position: center;
        background-size: contain;
        .featured_img {
            display: none;
        }
        .nf-form-cont {
            background-color: @green;
            max-width: 800px;
            margin: 0 auto;
            padding: 30px 10%;
            border-radius: 8px;
            .nf-field-container {
                margin-bottom: 0;
            }
            .nf-form-title,
            .nf-field-element h2 {
                color: @ivory;
                font-family: 'Cinzel Decorative', Times, serif;
                text-align: center;
                font-size: 8vh;
                margin-bottom: 0;
                filter: drop-shadow(2px 4px 6px grey);
                @media screen and (min-width: @t_max) {
                    font-size: 60px;
                }
                @media screen and (max-width: @m_max) {
                    font-size: 30px;
                }
                h3 {
                    margin: 0 auto;
                }
            }
            .nf-form-title {
                font-size: 10vh;
                @media screen and (min-width: @t_max) {
                    font-size: 70px;
                }
                @media screen and (max-width: @m_max) {
                    font-size: 40px;
                }
            }
            .nf-form-fields-required {
                color: @ivory;
                text-align: center;
            }
            .nf-form-fields-required,
            .nf-field-label label,
            .nf-error-msg,
            .nf-field-element ul li label,
            .nf-field-element p,
            .ninja-forms-field.nf-element option,
            .nf-field-label span,
            .nf-field-description p,
            #nf-field-6 {
                font-family: 'Mona Sans', Helvetica, sans-serif;
                font-weight: 600;
            }
            .nf-field-description p  {
                margin: 0 0 5px 0;
            }
            .nf-field-element p {
                font-size: 18px;
            }
            .label-above .nf-field-label {
                margin-bottom: 5px;
                margin-top: 10px;
            }
            .nf-field-label label,
            .nf-field-label span {
                font-weight: 700;
                font-size: 20px;
            }
            .nf-field-description {
                margin-bottom: 20px;
            }
            .ninja-forms-field.nf-element {
                border-radius: 8px;
                border: 1px solid @ivory;
                background-color: @ivory;
                padding: 20px 0;
            }
            #nf-field-6 {
                margin-top: 25px;
                padding: 20px;
                color: @ivory;
                background-color: @black;
                border-color: transparent;
                &:hover, &:active, &:focus {
                    background-color: @rust;
                    cursor: pointer;
                }
            }
            input[type="checkbox"] {
                padding: 0 !important;
            }
        }
    }
}

// Key Frames

@keyframes fade_in {
    0% { 
        opacity: 0.5; 
    }
    100% { 
        opacity: 1; 
    }
}
@keyframes slide_from_left_header {
    from {
      left: -100%;
    }
    to {
      left: 50%;
    }
}
@keyframes slide_in_from_top {
    0% {
        opacity: 0.7;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
