/* variables */
/* mixins */
.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* styles */
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  box-sizing: border-box;
  color: #080808;
}
main {
  display: block;
}
b,
strong {
  font-weight: bolder;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
h1 {
  font-family: 'Cinzel Decorative', Times, serif;
}
.main {
  padding-bottom: 100px;
}
.main .featured_img {
  max-width: 1440px;
  display: block;
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.main .welcome_header {
  position: absolute;
  height: 50vh;
  width: 100%;
  top: 0;
}
@media screen and (max-width: 768px) {
  .main .welcome_header {
    height: 20vh;
  }
}
.main .welcome_header .info_right {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -15%);
  animation: slide_from_left_header 10s;
}
.main .welcome_header .info_right h1 {
  color: white;
  font-size: 10vw;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0;
}
.main .welcome_header .info_right h2 {
  color: white;
  font-family: 'Pinyon Script', Helvetica, sans-serif;
  font-size: 7vw;
  letter-spacing: 3px;
  margin-top: 0;
  font-weight: 400;
}
.main .welcome_header .info_right a {
  color: white;
  font-family: 'Cinzel Decorative', Times, serif;
  font-size: 20px;
  text-decoration: none;
}
.main .detailed_copy p {
  font-family: 'Mona Sans', Helvetica, sans-serif;
  text-align: center;
  line-height: 1.5;
  padding: 15px;
  display: block;
  margin: 0 auto;
}
.main #metaslider-id-184 {
  max-width: 400px;
}
.page_rsvp .main {
  padding: 5%;
}
.page_rsvp .main .featured_img {
  display: none;
}
.page_rsvp .main .nf-form-cont {
  background-color: #A8BBA2;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 10%;
  border-radius: 8px;
}
.page_rsvp .main .nf-form-cont .nf-field-container {
  margin-bottom: 0;
}
.page_rsvp .main .nf-form-cont .nf-form-title,
.page_rsvp .main .nf-form-cont .nf-field-element h2 {
  color: #F8F5F2;
  font-family: 'Cinzel Decorative', Times, serif;
  text-align: center;
  font-size: 3vh;
  margin-bottom: 0;
  filter: drop-shadow(2px 4px 6px grey);
}
@media screen and (min-width: 1023px) {
  .page_rsvp .main .nf-form-cont .nf-form-title,
  .page_rsvp .main .nf-form-cont .nf-field-element h2 {
    font-size: 60px;
  }
}
@media screen and (max-width: 768px) {
  .page_rsvp .main .nf-form-cont .nf-form-title,
  .page_rsvp .main .nf-form-cont .nf-field-element h2 {
    font-size: 30px;
  }
}
.page_rsvp .main .nf-form-cont .nf-form-title h3,
.page_rsvp .main .nf-form-cont .nf-field-element h2 h3 {
  margin: 0 auto;
}
.page_rsvp .main .nf-form-cont .nf-form-title {
  font-size: 4vh;
}
@media screen and (min-width: 1023px) {
  .page_rsvp .main .nf-form-cont .nf-form-title {
    font-size: 70px;
  }
}
@media screen and (max-width: 768px) {
  .page_rsvp .main .nf-form-cont .nf-form-title {
    font-size: 40px;
  }
}
.page_rsvp .main .nf-form-cont .nf-form-fields-required {
  color: #F8F5F2;
  text-align: center;
}
.page_rsvp .main .nf-form-cont .nf-form-fields-required,
.page_rsvp .main .nf-form-cont .nf-field-label label,
.page_rsvp .main .nf-form-cont .nf-error-msg,
.page_rsvp .main .nf-form-cont .nf-field-element ul li label,
.page_rsvp .main .nf-form-cont .nf-field-element p,
.page_rsvp .main .nf-form-cont .ninja-forms-field.nf-element option,
.page_rsvp .main .nf-form-cont .nf-field-label span,
.page_rsvp .main .nf-form-cont .nf-field-description p,
.page_rsvp .main .nf-form-cont input[type="sumbit"] {
  font-family: 'Mona Sans', Helvetica, sans-serif;
  font-weight: 600;
}
.page_rsvp .main .nf-form-cont .nf-field-description p {
  margin: 0 0 5px 0;
}
.page_rsvp .main .nf-form-cont .nf-field-element p {
  font-size: 18px;
}
.page_rsvp .main .nf-form-cont .label-above .nf-field-label {
  margin-bottom: 0;
  margin-top: 10px;
}
.page_rsvp .main .nf-form-cont .nf-field-label label,
.page_rsvp .main .nf-form-cont .nf-field-label span {
  font-weight: 700;
  font-size: 20px;
}
.page_rsvp .main .nf-form-cont .nf-field-description {
  margin-bottom: 20px;
}
.page_rsvp .main .nf-form-cont .ninja-forms-field.nf-element {
  border-radius: 8px;
  border: 1px solid #F8F5F2;
  background-color: #F8F5F2;
  padding: 20px 0;
}
.page_rsvp .main .nf-form-cont input[type="sumbit"] {
  margin-top: 25px;
  padding: 20px;
  color: #F8F5F2;
  background-color: #080808;
}
@keyframes fade_in {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide_from_left_header {
  from {
    left: -100%;
  }
  to {
    left: 50%;
  }
}
@keyframes slide_in_from_top {
  0% {
    opacity: 0.7;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
