/* variables */
/* mixins */
.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* styles */
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  box-sizing: border-box;
  color: #080808;
}
main {
  display: block;
}
b,
strong {
  font-weight: bolder;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
h1 {
  font-family: 'Cinzel Decorative', Times, serif;
}
.main {
  padding-bottom: 100px;
  margin: 60px auto;
}
.main .featured_img {
  max-width: 1440px;
  display: block;
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.main .welcome_header {
  position: absolute;
  height: 50vh;
  width: 100%;
  top: 0;
}
@media screen and (max-width: 768px) {
  .main .welcome_header {
    height: 20vh;
  }
}
.main .welcome_header .info_right {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -15%);
  animation: slide_from_left_header 10s;
}
.main .welcome_header .info_right h1 {
  color: white;
  font-size: 10vw;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0;
}
.main .welcome_header .info_right h2 {
  color: white;
  font-family: 'Pinyon Script', Helvetica, sans-serif;
  font-size: 7vw;
  letter-spacing: 3px;
  margin-top: 0;
  font-weight: 400;
}
.main .welcome_header .info_right a {
  color: white;
  font-family: 'Cinzel Decorative', Times, serif;
  font-size: 20px;
  text-decoration: none;
}
.main #metaslider-id-184 {
  max-width: 400px;
  margin: 20px auto !important;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #F8F5F2;
  z-index: 1;
  max-height: 100px;
  filter: drop-shadow(2px 0px 6px rgba(0, 0, 0, 0.5));
}
header .header_container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
header .logo {
  padding: 10px;
}
header .logo img {
  object-fit: contain;
  width: 100%;
  height: auto;
  display: block;
  object-position: center;
  max-width: 70px;
}
header nav {
  display: none;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  header nav.mobile {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  header nav.desktop {
    display: flex;
  }
}
header nav a {
  color: #2C3E50;
  font-weight: 600;
  text-decoration: none;
  padding: 11% 20px 0 0;
  font-family: 'Cinzel Decorative', Times, serif;
}
header #hamburger {
  height: 50px;
  width: 50px;
  background: #F8F5F2;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0);
  transition: all 0.2s ease;
  z-index: 9999;
  display: none;
}
@media screen and (max-width: 768px) {
  header #hamburger {
    display: block;
  }
}
header #hamburger:hover {
  background: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
  transition: all 0.2s ease;
}
header #hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 28px;
  left: 50%;
  transform: translateX(-50%);
  background: #2C3E50;
  border-radius: 10px;
  transition: all 0.15s ease;
}
header #hamburger span:first-child {
  top: 17px;
}
header #hamburger span:nth-child(2) {
  top: 25px;
}
header #hamburger span:last-child {
  top: 33px;
}
header #hamburger.close {
  top: 10px;
  right: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}
header #hamburger.close span:first-child {
  top: 15px;
  transform: translate(-14px, 10px) rotate(135deg);
}
header #hamburger.close span:nth-child(2) {
  left: -20px;
  opacity: 0;
}
header #hamburger.close span:last-child {
  top: 15px;
  transform: translate(-14px, 10px) rotate(-135deg);
}
header nav.mobile {
  height: 100vh;
  right: 0;
  background: #F8F5F2;
  color: #2C3E50;
  width: 200px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
  transform: translateX(200px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
  display: none;
}
header nav.mobile ul {
  list-style: none;
  padding: 0;
}
header nav.mobile ul li {
  width: 100%;
  transition: all 0.15s ease;
}
header nav.mobile ul li a {
  display: block;
  padding: 10px;
  width: 100%;
  height: auto;
}
header nav.mobile ul li:hover {
  transition: all 0.15s ease;
}
header nav.mobile.visible {
  transform: translateX(0);
  opacity: 1;
  display: block;
}
footer {
  background-color: #F8F5F2;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer p {
  font-family: 'Mona Sans', Helvetica, sans-serif;
  color: #2C3E50;
}
footer .footer_logo {
  max-width: 50px;
  width: 100%;
  height: auto;
}
.page_donate .main {
  margin: 100px auto;
}
.page_donate .main .featured_img {
  display: none;
}
.page_in_the_area .main,
.page_our_story .main,
.page_stays .main,
.page_details .main {
  max-width: 1440px;
  margin: 60px auto 0;
}
@media screen and (max-width: 768px) {
  .page_our_story.page_in_the_area .main,
  .page_our_story.page_our_story .main,
  .page_our_story.page_stays .main,
  .page_our_story.page_details .main {
    margin: 120px auto 0;
  }
}
@media screen and (max-width: 768px) {
  .page_stays.page_in_the_area .main,
  .page_stays.page_our_story .main,
  .page_stays.page_stays .main,
  .page_stays.page_details .main,
  .page_details.page_in_the_area .main,
  .page_details.page_our_story .main,
  .page_details.page_stays .main,
  .page_details.page_details .main {
    margin: 40px auto 0;
  }
}
.page_in_the_area .main .featured_img,
.page_our_story .main .featured_img,
.page_stays .main .featured_img,
.page_details .main .featured_img {
  padding-bottom: calc(400 / 1000 * 100%);
  background-size: cover;
  max-width: 1000px;
}
@media screen and (max-width: 768px) {
  .page_in_the_area .main .featured_img,
  .page_our_story .main .featured_img,
  .page_stays .main .featured_img,
  .page_details .main .featured_img {
    padding-bottom: calc(500 / 1000 * 100%);
  }
}
.page_our_story.page_in_the_area .main .featured_img,
.page_our_story.page_our_story .main .featured_img,
.page_our_story.page_stays .main .featured_img,
.page_our_story.page_details .main .featured_img {
  padding-bottom: calc(200 / 1000 * 100%);
  background-size: contain;
  max-width: 1000px;
}
@media screen and (max-width: 768px) {
  .page_our_story.page_in_the_area .main .featured_img,
  .page_our_story.page_our_story .main .featured_img,
  .page_our_story.page_stays .main .featured_img,
  .page_our_story.page_details .main .featured_img {
    padding-bottom: calc(300 / 1000 * 100%);
  }
}
.page_in_the_area .main .content,
.page_our_story .main .content,
.page_stays .main .content,
.page_details .main .content {
  padding: 0 5%;
  max-width: 1000px;
  margin: 0 auto;
}
.page_in_the_area .main .content h1,
.page_our_story .main .content h1,
.page_stays .main .content h1,
.page_details .main .content h1 {
  text-align: center;
  color: #B74C2F;
  font-size: 8vh;
  margin-bottom: 0;
}
@media screen and (min-width: 1023px) {
  .page_in_the_area .main .content h1,
  .page_our_story .main .content h1,
  .page_stays .main .content h1,
  .page_details .main .content h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 768px) {
  .page_in_the_area .main .content h1,
  .page_our_story .main .content h1,
  .page_stays .main .content h1,
  .page_details .main .content h1 {
    font-size: 30px;
  }
}
.page_in_the_area .main .content h2,
.page_our_story .main .content h2,
.page_stays .main .content h2,
.page_details .main .content h2,
.page_in_the_area .main .content p,
.page_our_story .main .content p,
.page_stays .main .content p,
.page_details .main .content p,
.page_in_the_area .main .content ul,
.page_our_story .main .content ul,
.page_stays .main .content ul,
.page_details .main .content ul,
.page_in_the_area .main .content li,
.page_our_story .main .content li,
.page_stays .main .content li,
.page_details .main .content li,
.page_in_the_area .main .content a,
.page_our_story .main .content a,
.page_stays .main .content a,
.page_details .main .content a {
  font-family: 'Mona Sans', Helvetica, sans-serif;
}
.page_in_the_area .main .content h2,
.page_our_story .main .content h2,
.page_stays .main .content h2,
.page_details .main .content h2 {
  color: #2C3E50;
}
.page_in_the_area .main .content h2,
.page_our_story .main .content h2,
.page_stays .main .content h2,
.page_details .main .content h2,
.page_in_the_area .main .content p,
.page_our_story .main .content p,
.page_stays .main .content p,
.page_details .main .content p {
  text-align: center;
}
.page_in_the_area .main .content iframe,
.page_our_story .main .content iframe,
.page_stays .main .content iframe,
.page_details .main .content iframe {
  width: 100%;
}
.page_in_the_area .main .content .to_do_container,
.page_our_story .main .content .to_do_container,
.page_stays .main .content .to_do_container,
.page_details .main .content .to_do_container {
  background-color: #2C3E50;
  border-radius: 8px;
  padding: 5%;
  color: #F8F5F2;
  filter: drop-shadow(2px, 4px, 6px, rgba(0, 0, 0, 0.5));
}
.page_in_the_area .main .content .to_do_container h2,
.page_our_story .main .content .to_do_container h2,
.page_stays .main .content .to_do_container h2,
.page_details .main .content .to_do_container h2,
.page_in_the_area .main .content .to_do_container ul li a,
.page_our_story .main .content .to_do_container ul li a,
.page_stays .main .content .to_do_container ul li a,
.page_details .main .content .to_do_container ul li a {
  color: #F8F5F2;
}
.page_stays.page_in_the_area .main .content .to_do_container a,
.page_stays.page_our_story .main .content .to_do_container a,
.page_stays.page_stays .main .content .to_do_container a,
.page_stays.page_details .main .content .to_do_container a {
  text-decoration: none;
  font-weight: 700;
  color: #F8F5F2;
}
.page_in_the_area .main .content .to_do_container ul li,
.page_our_story .main .content .to_do_container ul li,
.page_stays .main .content .to_do_container ul li,
.page_details .main .content .to_do_container ul li {
  margin-bottom: 10px;
}
.page_in_the_area .main .content .to_do_container ul li a,
.page_our_story .main .content .to_do_container ul li a,
.page_stays .main .content .to_do_container ul li a,
.page_details .main .content .to_do_container ul li a {
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
}
.page_in_the_area .main .content .to_do_container ul li span,
.page_our_story .main .content .to_do_container ul li span,
.page_stays .main .content .to_do_container ul li span,
.page_details .main .content .to_do_container ul li span {
  font-weight: 400;
}
.page_hoppily_ever_after {
  background-color: #A8BBA2;
}
.page_hoppily_ever_after .main {
  max-width: 1440px;
  margin: 60px auto;
  position: relative;
}
@media screen and (max-width: 780px) {
  .page_hoppily_ever_after .main {
    margin: 90px auto;
  }
}
.page_hoppily_ever_after .main .featured_img {
  padding-bottom: calc(400 / 1000 * 100%);
  background-size: contain;
  max-width: 500px;
}
@media screen and (max-width: 768px) {
  .page_hoppily_ever_after .main .featured_img {
    padding-bottom: calc(500 / 1000 * 100%);
  }
}
.page_hoppily_ever_after .main .detailed_copy p,
.page_hoppily_ever_after .main .detailed_copy a {
  font-family: 'Mona Sans', Helvetica, sans-serif;
  text-align: center;
  line-height: 1.5;
  padding: 15px;
  display: block;
  margin: 0 auto;
  color: white;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.8px;
}
@media screen and (max-width: 768px) {
  .page_hoppily_ever_after .main .detailed_copy p,
  .page_hoppily_ever_after .main .detailed_copy a {
    font-size: 22px;
    padding: 0;
  }
}
.page_hoppily_ever_after .main .detailed_copy a {
  text-decoration: none;
}
.page_hoppily_ever_after .main .detailed_copy h1 {
  font-size: 10vh;
  filter: drop-shadow(2px 4px 6px grey);
}
@media screen and (min-width: 1023px) {
  .page_hoppily_ever_after .main .detailed_copy h1 {
    font-size: 70px;
  }
}
@media screen and (max-width: 768px) {
  .page_hoppily_ever_after .main .detailed_copy h1 {
    font-size: 40px;
  }
}
.page_hoppily_ever_after .main .detailed_copy h1,
.page_hoppily_ever_after .main .detailed_copy h2 {
  color: white;
  text-align: center;
  font-family: 'Cinzel Decorative', Times, serif;
  margin: 0 auto;
}
.page_hoppily_ever_after .main .detailed_copy h1 span,
.page_hoppily_ever_after .main .detailed_copy h2 span,
.page_hoppily_ever_after .main .detailed_copy h1 span a,
.page_hoppily_ever_after .main .detailed_copy h2 span a {
  font-size: 5vh;
  display: block;
  color: #2C3E50;
  text-decoration: none;
  filter: none;
}
@media screen and (min-width: 1023px) {
  .page_hoppily_ever_after .main .detailed_copy h1 span,
  .page_hoppily_ever_after .main .detailed_copy h2 span,
  .page_hoppily_ever_after .main .detailed_copy h1 span a,
  .page_hoppily_ever_after .main .detailed_copy h2 span a {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .page_hoppily_ever_after .main .detailed_copy h1 span,
  .page_hoppily_ever_after .main .detailed_copy h2 span,
  .page_hoppily_ever_after .main .detailed_copy h1 span a,
  .page_hoppily_ever_after .main .detailed_copy h2 span a {
    font-size: 20px;
  }
}
.page_hoppily_ever_after .main .detailed_copy h1 span a,
.page_hoppily_ever_after .main .detailed_copy h2 span a {
  font-family: 'Cinzel Decorative', Times, serif;
  margin-top: 20px;
}
.page_rsvp .main {
  padding: 5%;
  background-image: url('/wp-content/uploads/2025/05/AdobeStock_533865523-scaled.jpeg');
  background-position: center;
  background-size: contain;
}
.page_rsvp .main .featured_img {
  display: none;
}
.page_rsvp .main .nf-form-cont {
  background-color: #A8BBA2;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 10%;
  border-radius: 8px;
}
.page_rsvp .main .nf-form-cont .nf-field-container {
  margin-bottom: 0;
}
.page_rsvp .main .nf-form-cont .nf-form-title,
.page_rsvp .main .nf-form-cont .nf-field-element h2 {
  color: #F8F5F2;
  font-family: 'Cinzel Decorative', Times, serif;
  text-align: center;
  font-size: 8vh;
  margin-bottom: 0;
  filter: drop-shadow(2px 4px 6px grey);
}
@media screen and (min-width: 1023px) {
  .page_rsvp .main .nf-form-cont .nf-form-title,
  .page_rsvp .main .nf-form-cont .nf-field-element h2 {
    font-size: 60px;
  }
}
@media screen and (max-width: 768px) {
  .page_rsvp .main .nf-form-cont .nf-form-title,
  .page_rsvp .main .nf-form-cont .nf-field-element h2 {
    font-size: 30px;
  }
}
.page_rsvp .main .nf-form-cont .nf-form-title h3,
.page_rsvp .main .nf-form-cont .nf-field-element h2 h3 {
  margin: 0 auto;
}
.page_rsvp .main .nf-form-cont .nf-form-title {
  font-size: 10vh;
}
@media screen and (min-width: 1023px) {
  .page_rsvp .main .nf-form-cont .nf-form-title {
    font-size: 70px;
  }
}
@media screen and (max-width: 768px) {
  .page_rsvp .main .nf-form-cont .nf-form-title {
    font-size: 40px;
  }
}
.page_rsvp .main .nf-form-cont .nf-form-fields-required {
  color: #F8F5F2;
  text-align: center;
}
.page_rsvp .main .nf-form-cont .nf-form-fields-required,
.page_rsvp .main .nf-form-cont .nf-field-label label,
.page_rsvp .main .nf-form-cont .nf-error-msg,
.page_rsvp .main .nf-form-cont .nf-field-element ul li label,
.page_rsvp .main .nf-form-cont .nf-field-element p,
.page_rsvp .main .nf-form-cont .ninja-forms-field.nf-element option,
.page_rsvp .main .nf-form-cont .nf-field-label span,
.page_rsvp .main .nf-form-cont .nf-field-description p,
.page_rsvp .main .nf-form-cont #nf-field-6 {
  font-family: 'Mona Sans', Helvetica, sans-serif;
  font-weight: 600;
}
.page_rsvp .main .nf-form-cont .nf-field-description p {
  margin: 0 0 5px 0;
}
.page_rsvp .main .nf-form-cont .nf-field-element p {
  font-size: 18px;
}
.page_rsvp .main .nf-form-cont .label-above .nf-field-label {
  margin-bottom: 5px;
  margin-top: 10px;
}
.page_rsvp .main .nf-form-cont .nf-field-label label,
.page_rsvp .main .nf-form-cont .nf-field-label span {
  font-weight: 700;
  font-size: 20px;
}
.page_rsvp .main .nf-form-cont .nf-field-description {
  margin-bottom: 20px;
}
.page_rsvp .main .nf-form-cont .ninja-forms-field.nf-element {
  border-radius: 8px;
  border: 1px solid #F8F5F2;
  background-color: #F8F5F2;
  padding: 20px 0;
}
.page_rsvp .main .nf-form-cont #nf-field-6 {
  margin-top: 25px;
  padding: 20px;
  color: #F8F5F2;
  background-color: #080808;
  border-color: transparent;
}
.page_rsvp .main .nf-form-cont #nf-field-6:hover,
.page_rsvp .main .nf-form-cont #nf-field-6:active,
.page_rsvp .main .nf-form-cont #nf-field-6:focus {
  background-color: #B74C2F;
  cursor: pointer;
}
.page_rsvp .main .nf-form-cont input[type="checkbox"] {
  padding: 0 !important;
}
@keyframes fade_in {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide_from_left_header {
  from {
    left: -100%;
  }
  to {
    left: 50%;
  }
}
@keyframes slide_in_from_top {
  0% {
    opacity: 0.7;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
